<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="Libyana_ProductionConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Libyana_Production;Persist Security Info=True;User ID=sa;Password=Pa$$w0rd@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="~/404.aspx" />
    </customErrors>-->
  </system.web>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <sessionState mode="InProc" cookieless="false" timeout="120" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="151200" executionTimeout="360" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
  </system.web>
  <appSettings>
    <!-- ========================= Related To CMS ===================================== -->
    <add key="CMS_Version_Number" value="V 3.0" />
    <add key="ClientSiteName" value="Libyana" />
    <!-- =========================  Site URL  ========================================= -->
    <!--<add key="SiteURL" value="https://http://www.libyana.ly"/>-->
    <add key="SiteURL" value="https://www.libyana.ly/" />
    <!-- =========================  Domain URL  ======================================= -->
   <!-- <add key="DomainURL" value="https://http://libyana.ly/"/>-->
    <add key="SiteURL" value="https://www.libyana.ly/" />
    <!-- =========================  Imagine GRP Email  ================================ -->

    <!--Email Error Send To-->
    <add key="ErrorEamilTo" value="mshtyat@imaginegrp.com" />
    <!-- ========================= Main Keys ========================================== -->
    <!-- Image Max Size-->
    <add key="FileMaxSize" value="10485760" />
    <!--News Image Max Size-->
    <add key="ImageMaxSize" value="5242880" />
    <!--User Complex Password-->
    <add key="UserComplexPassword" value="false" />
    <!--Email No Replay-->
    <add key="NoReplyId" value="1" />
    <!-- ============================================================================ -->
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled" />
    <!-- =========================  Home Page Config  ================================== -->
    <add key="ShowHomePageEvent" value="true" />
    <add key="ShowHomePageNews" value="true" />
    <add key="ShowHomePageVideo" value="false" />
    <!-- =========================  Preview Pages Name  ================================== -->
    <add key="PreviewPage_Content" value="~/ContentPage.aspx?prview=true" />
    <!-- =========================  Banners  ================================== -->
    <!-- Banners Files Path  -->
    <add key="Att_Banner" value="/Att_Files/Banner/" />
    <!-- Banners Thumbs Sizes-->
    <add key="BannerWidth" value="500" />
    <add key="BannerHeight" value="500" />
    <!-- Banners footer Sizes-->
    <add key="BannerFooterWidth" value="1920" />
    <add key="BannerFooterHeight" value="435" />
    <!-- =========================  News  ================================== -->
    <!-- News Files Path  -->
    <add key="Att_News" value="/Att_Files/News/" />
    <add key="ShowNewsImg2" value="false" />
    <!-- News  Sizes-->
    <add key="NewsWidth" value="680" />
    <add key="NewsHeight" value="350" />
    <!-- News 2 Sizes-->
    <add key="News2Width" value="450" />
    <add key="News2Height" value="250" />
    <!-- =========================  Event  ================================== -->
    <!-- Event Files Path  -->
    <add key="Att_Event" value="/Att_Files/Event/" />
    <add key="ShowEventImg2" value="false" />
    <!-- Event  Sizes-->
    <add key="EventWidth" value="680" />
    <add key="EventHeight" value="350" />
    <!-- Event 2 Sizes-->
    <add key="Event2Width" value="450" />
    <add key="Event2Height" value="250" />
    <!-- =========================  Publication  ================================== -->
    <!-- Publication Files Path  -->
    <add key="Att_Publication" value="/Att_Files/Publication/" />
    <!-- Publication Images Path  -->
    <add key="Att_PublicationImages" value="/Att_Files/PublicationImages/" />
    <!-- Publication Images Sizes-->
    <add key="PublicationWidth" value="500" />
    <add key="PublicationHeight" value="500" />
    <!-- =========================  Address  ================================== -->
    <!-- Address Files Path  -->
    <add key="Att_Address" value="/Att_Files/Address/" />
    <!-- Address Sizes-->
    <add key="AddressWidth" value="1920" />
    <add key="AddressHeight" value="400" />
    <!-- ========================= Contents ================================== -->
    <!-- Content Menu 2 -->
    <add key="ShowMenu2" value="false" />
    <!-- Content Files Path  -->
    <add key="Att_Content" value="/Att_Files/Content/" />
    <!-- Content Size  -->
    <add key="ContentWidth" value="1920" />
    <add key="ContentHeight" value="400" />
    <!-- ========================= Products ================================== -->
    <!-- Product Files Path  -->
    <add key="Att_Product" value="/Att_Files/Product/" />
    <add key="ShowProductImg2" value="false" />
    <!-- Product Size  -->
    <add key="ProductWidth" value="1920" />
    <add key="ProductHeight" value="400" />
    <!-- Product 2 Sizes-->
    <add key="Product2Width" value="500" />
    <add key="Product2Height" value="500" />
    <!-- ========================= Services ================================== -->
    <!-- Service Files Path  -->
    <add key="Att_Service" value="/Att_Files/Service/" />
    <add key="ShowServiceImg2" value="true" />
    <!-- Service Size  -->
    <add key="ServiceWidth" value="1920" />
    <add key="ServiceHeight" value="400" />
    <!-- Service 2 Sizes-->
    <add key="Service2Width" value="500" />
    <add key="Service2Height" value="500" />
    <!-- ========================= Offers ================================== -->
    <!-- Offer Files Path  -->
    <add key="Att_Offer" value="/Att_Files/Offer/" />
    <add key="ShowOfferImg2" value="true" />
    <!-- Offer Size  -->
    <add key="OfferWidth" value="1920" />
    <add key="OfferHeight" value="400" />
    <!-- Offer 2 Sizes-->
    <add key="Offer2Width" value="500" />
    <add key="Offer2Height" value="530" />
    <!-- ========================= Rotater ================================== -->
    <!-- Rotater Files Path  -->
    <add key="Att_Rotater" value="/Att_Files/Rotater/" />
    <!-- Rotater Size  -->
    <add key="RotaterWidth" value="1920" />
    <add key="RotaterHeight" value="650" />
    <!-- ========================= Album ================================== -->
    <!-- Album Files Path  -->
    <add key="Att_Album" value="/Att_Files/Album/" />
    <!-- Album Size  -->
    <add key="AlbumWidth" value="500" />
    <add key="AlbumHeight" value="500" />
    <!-- ========================= Photo ================================== -->
    <!-- Photo Files Path  -->
    <add key="Att_Photo" value="/Att_Files/Photo/" />
    <!-- ========================= CV ================================== -->
    <!-- CV Files Path  -->
    <add key="Att_CV" value="/Att_Files/CV/" />
    <!-- ========================= Media Contact ================================== -->
    <!-- Media Contact Files Path  -->
    <add key="Att_MediaContact" value="/Att_Files/MediaContact/" />
    <!-- Media Contact Size  -->
    <add key="MediaContactWidth" value="500" />
    <add key="MediaContactHeight" value="500" />
    <!-- ========================= Bod ================================== -->
    <!-- Bod Files Path  -->
    <add key="Att_Bod" value="/Att_Files/Bod/" />
    <!-- Bod Size  -->
    <add key="BodWidth" value="500" />
    <add key="BodHeight" value="500" />
    <!--SiteKey for Recaptcha -->
    <!--<add key="Recaptcha_SiteKey" value="6Lf7pLYUAAAAAJHrj5SxM2XpbVqdbe0WXrzDSLCR"/>
    <add key="Recaptcha_SecretKey" value="6Lf7pLYUAAAAAPWvJPWe7onewb4a75Khyi-rvtK9"/>-->
    <!--SiteKey for Recaptcha -->
    <add key="Recaptcha_SiteKey" value="6LdUNnQUAAAAAGxZgdlIilbV4yYQ4CK2U6B56H1l" />
    <add key="Recaptcha_SecretKey" value="6LdUNnQUAAAAAH9iaVnko__3Z0kNp3q5lyw8qMMp" />
  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <remove name="RadCompression" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="154828800" />
      </requestFiltering>
    </security>
        <httpRedirect enabled="false" destination="https://www.libyana.ly/" childOnly="true" httpResponseStatus="PermRedirect" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMomaizService" />
        <binding name="BasicHttpBinding_IPUK_SERVICE" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://41.74.70.22:8011/MomaizService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMomaizService" contract="MomaizService.IMomaizService" name="BasicHttpBinding_IMomaizService" />
      <endpoint address="http://41.74.70.22:9088/PUK_SERVICE.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPUK_SERVICE" contract="PUKService.IPUK_SERVICE" name="BasicHttpBinding_IPUK_SERVICE" />
    </client>
  </system.serviceModel>
</configuration>